/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color:#FCFCF4;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
a{
	text-decoration: none;
	color:black;
}
a:hover{
	color: #B1663C;
}
#log-in{
	font-weight: bold;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.filtres{
	display: flex;
	justify-content: center;
	gap:15px;
	margin-bottom: 60px;
}
.filtres button{
	padding:10px 20px 10px 20px;
	border:solid;
	border-radius: 60px;
	border-width: 1px;
	font-size:large;
	font-weight:bold;
	color:#1D6154;
	border-color: #1D6154;
	background-color:#FCFCF4;
}
.filtres button:focus{
	color:#FCFCF4;
	background-color: #1D6154;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor:pointer;
}
input[type="submit"]:hover{
	background-color: #0B2621;
}
button{
	cursor:pointer;
}
footer{
	background-color: white;
	width:100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 1.5em;
	background-color: white;
}
footer nav li {
	padding-right:50px;
}

/*///////Page de connexion//////*/
#log-in{
	width:50%;
	margin:auto;
}
#login{
	font-weight: bold;
}
#log-in h2{
	text-align: center;
	margin-top: 6em;
}
#log-in form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#log-in input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#log-in label {
	margin: 2em 0 1em 0;
}

.forgotpw{
	text-decoration: underline;
	display:flex;
	justify-content: center;
}
#errorMessage{
	color: red; 
	padding-top:15px;
	display: none;
}
.fa-triangle-exclamation{
	padding-right:10px;
}

.footer-log{
	position: fixed;
	bottom: 0; /* on le colle en bas */
	left: 0;
	width: 100%;
}
.footer-log li{
	padding-right:5em;
}

/*//////home page connecté/////*/

.black-bloc{
	padding: 15px 0 15px 0;
	text-align: center;
	background-color: black;
	width:100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
}


.modif{
	cursor: pointer;
}
.black-bloc .modif{
	color:white;
}
.modif:hover{
	color:#B1663C;
}
.change{
	border:none;
	border-radius: 50px;
	padding:10px 25px 10px 25px;
	background-color: white;
}

figure .modif{
	margin-left:10%;
	margin-top: 10px;
}

.Projets{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:30px;
}
.Projets .modif{
	margin-bottom:1.5em;
}

#connected1 {
	display: none;
}
#connected2 {
	display: none;
}

#connected3{
	display:none;
}

/* The Modal (background) */
.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: auto;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; 
	padding: 20px 20px 50px 80px;
	border: 1px solid #888;
	width: 50%; 
  }
  .modal-content h2{
	margin-top:50px;
	padding-bottom:30px;
	left:-30px;
	position: relative;
	font-family:Work Sans;
	color:black;
  }
  hr{
	border: none;
  color: #B3B3B3;
  width:500px;
  max-width: 100%;
  height: 0px;
  border: 1px solid #B3B3B3;
  margin-top:100px;
  }

  .modal-input{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-right:40px;
  }
  .modal-input input{
	height: 40px;
	width:300px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  }
  .modal-input a{
	font-size: large;
	cursor:pointer;
  }

  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  .image-container {
	display: flex; /* Affiche les images en ligne */
	flex-wrap: wrap; /* Permet aux images de passer à la ligne si besoin */
	gap: 20px; /* Espace entre les images */
  }
  
  .modal-image {
	width:150px;
	height: auto;
  }
  
  /* Ajoute une marge à l'icône pour la décaler de l'image */
	.item {
	position: relative; /* Permet de positionner l'icône relative à ce conteneur */
  }
  
  .fa-trash-can {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px; 
	color:white;
	background-color: black;
	padding: 5px;
	margin:5px;
	border-radius: 15%;
	cursor:pointer;
  }
  